@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#e0cef1] min-h-full text-zinc-900
}

.flex-centered {
  @apply flex items-center;
}

.section {
  @apply min-h-screen h-full pb-5 p-4 md:pl-[8%]
}

/* fonts */
.heading-1 {
  @apply text-[3rem] md:text-[5rem] font-bold leading-none uppercase
}

.heading-2 {
  @apply text-[1.3rem] md:text-[2.25rem] font-light leading-snug
}

.heading-3 {
  @apply text-[1.5rem] md:text-[2.5rem] font-normal uppercase
}

.heading-4 {
  @apply text-[1.5rem] md:text-[2.25rem] font-medium
}

.paragraph-1 {
  @apply text-[1rem] md:text-[1.2rem] font-normal
}

.paragraph-2 {
  @apply text-[1rem] font-bold uppercase
}

.paragraph-3 {
  @apply text-[.8rem] font-normal
}

.paragraph-4 {
  @apply text-[.7rem] lg:text-[.75rem]
}

.text-link {
  @apply text-[.8rem] font-bold uppercase text-primary-3 hover:translate-y-[-.5px] hover:drop-shadow-sm
}

/* ui */
.button {
  @apply flex items-center justify-center py-2 text-[.7rem] lg:text-[1rem] uppercase font-extrabold rounded-md border-[1px] shadow-sm hover:-translate-y-[.1rem]
}

.loading {
  @apply min-w-[100%] md:min-w-[85%] min-h-[100%] z-20 absolute bg-white-1 flex flex-col items-center justify-center
}

.loading__content {
  @apply block w-[150px] h-[150px] mt-[-75px] mb-0 mr-0 rounded-[50%] border-transparent border-4 border-t-primary-2 animate-spin
}

.shadow-1 {
  box-shadow: 0 1px 3px 0 rgba(29, 29, 29, 0.05);
}

.profile-section {
  @apply pt-10 min-h-full bg-gray-1
}

.centered-section {
  @apply bg-white-1 mx-auto rounded-xl flex flex-col
}

.margin-padding-lg {
  @apply mt-10 p-8
}

.profile-container {
  @apply w-[90%] mb-auto
}

.profile-title {
  @apply heading-4 text-center text-primary-2
}

.form-input {
  @apply bg-gray-1 outline-none border-none rounded-lg mt-0 !important;
}

.top-bottom-bars {
  @apply flex bg-primary-lighter items-center md:ml-[15%] md:w-[85%]
}

.cl-userButtonTrigger,
.cl-internal-g6a67s,
.cl-avatarBox,
.cl-userButtonAvatarBox,
.cl-internal-11ewti4 {
  @apply opacity-0 absolute top-0 left-0 w-[180px] h-[42px] rounded-none
}

.cl-internal-11ewti4 img {
  @apply invisible
}

.cl-avatarImage, .cl-userButtonAvatarImage {
  @apply invisible
}

.cl-internal-b3fm6y {
  @apply bg-primary-2
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 1;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 1rem;
}